ion-content{
    --background: #ffffff;
    --color: #000000;
    --overflow: scroll;

    .home-container{
        height: 600px;
        margin-top: 50px;

        ion-label{
            --color: #757575;
            color: #757575;
            font-size: 14px;
            margin: 0 0 8px;
            padding: 0 0 0 16px;
        }
    }

    .amount{
        font-size: 20px;
        text-align: right;
    }
    .income{
        color: #4BD16F;
    }
    .expense{
        color: #dc143c;
    }

    ion-input, ion-select{
        --padding-start: 16px;
        // border-radius: 6px !important;
        border-bottom: 1px solid #D6E2E7;
        height: 40px;
        padding-left: 16px;
        font-size: 14px;
    }

    .input-item{
        height: 40px;
        // margin: 40px auto auto auto;
        font-size: 14px;
    }

    .input-label {
        padding-left: 16px;
    }

    .input-price {
        padding-left: 45px;
    }

    #price{
        border: none;
        border-bottom: 1px solid #ced4da;
    }

    .buttons{
        // height: 20%;
        margin: 2.5rem auto auto;
        ion-button{
            --color: #21333B;
            --color-activated: #ffffff;
            --background-activated: #21333B;
  
            font-size: 15px;
            text-transform: none;
        }
        ion-button:nth-child(1){
            --background: #4BD16F;
        }
    }
}