<ion-content>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" [routerLink]="['/']">
    </div>

    <p><ngb-progressbar type="success" [value]="60" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><span>Step 2 of 3</span></p>

    <p>Please enter your Business details to know more about you.</p>
  
    <form [formGroup]="stepTwoForm" (ngSubmit)="stepTwo(stepTwoForm)">
      <ion-select placeholder="Country"  name="country" formControlName="business_country" interface="popover">
        <ion-select-option value="Nigeria">Nigeria</ion-select-option>
      </ion-select>
  
      <ion-select placeholder="State"  name="state" formControlName="business_state" (ionChange)="setState($event)">
        <ion-select-option *ngFor="let state of countryData" value={{state.state}}>{{state.state}}</ion-select-option>
      </ion-select>
  
      <ion-select placeholder="City" name="city" formControlName="business_lga">
        <ion-select-option *ngFor="let lga of lgas" value={{lga}}>{{lga}}</ion-select-option>
      </ion-select>
      
      <div class="buttons">
        <ion-button type=submit expand="block" fill="solid">
          Next
        </ion-button>
  
        <!-- <ion-button expand="block" fill="clear" (click)="toBusiness()">
          Back
        </ion-button> -->
      </div>  
    </form>
  </div>

</ion-content>
