<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="profile">
      <ion-segment-button value="personal">
        <ion-label>Personal</ion-label>
      </ion-segment-button>
      <ion-segment-button value="business">
        <ion-label>Business</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

    <div class="container home-container" [ngSwitch]="profile">
      <h4>{{profile.toUpperCase()}}</h4>
      <form *ngSwitchCase="'personal'" (ngSubmit)="toEditUser(personalForm)" [formGroup]="personalForm">
        <ion-input  class="inputClass" id="first_name" 
          type="text" formControlName="first_name">
        </ion-input>

        <ion-input  class="inputClass" id="last_name" 
          type="text" formControlName="last_name">
        </ion-input>

        <ion-input  class="inputClass" id="phone" 
          type="text" formControlName="phone">
        </ion-input>

        <div class="buttons">
          <ion-button type="submit" expand="block" fill="solid">
            {{editButton}}
          </ion-button>
          <ion-button expand="block" fill="clear" *ngIf="edit" (click)="onBack()">
            Back
          </ion-button>
        </div>
      </form>

      
      <form *ngSwitchCase="'business'" (ngSubmit)="toEditBusiness(businessForm)" [formGroup]="businessForm">
        <ion-input  class="inputClass" id="business_name" 
          type="text" formControlName="business_name">
        </ion-input>

        <ion-select name="city" formControlName="business_type" interface="popover">
          <ion-select-option *ngFor="let busniness_type of business_types" value={{busniness_type.business_type}}>{{busniness_type.business_type}}</ion-select-option>
        </ion-select>

        <ion-input  class="inputClass" id="website" 
          type="text" formControlName="business_website">
        </ion-input>

        <ion-select name="country" formControlName="business_country" interface="popover">
          <ion-select-option value="Nigeria">Nigeria</ion-select-option>
        </ion-select>
    
        <ion-select name="state" formControlName="business_state"  (ionChange)="setState($event)">
          <ion-select-option *ngFor="let state of countryData" value={{state.state}}>{{state.state}}</ion-select-option>
        </ion-select>
    
        <ion-select name="city" formControlName="business_lga">
          <ion-select-option *ngFor="let business_lga of lgas" value={{business_lga}}>{{business_lga}}</ion-select-option>
        </ion-select>

        <div class="buttons">
          <ion-button type="submit" expand="block" fill="solid" >
            {{editButton}}
          </ion-button>
          <ion-button expand="block" fill="clear" *ngIf="edit" (click)="onBack()">
            Back
          </ion-button>
        </div>
      </form>
    </div>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cashflowInputModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
