ion-toolbar{
  --background:#ffffff;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  
  ion-menu-button{
    --color: #000000;
  }
}

ion-content{
    // height: 20vh;
    --background: #ffffff;
    --color: #000000;
    --overflow: hidden;

    .home-container {
        // width: 85vw;
        margin: 3.125rem auto auto;

      h4{
        font-family: nunito-thin;
      }
    
        .business{
          margin-bottom: 30px;
          p{
            margin: 0;
          }
          .business-text{
            font-family: nunito-thin;
    
            .business-name{
              font-size: 1.125rem;
              font-family: nunito-bold;
            }
          }
        }
    }

    h4{
        margin-top: 20px;
        font-weight: thin;
    }

    p{
        font-size: 13px;
        font-weight: bold;

        span{
            font-size: 10px;
        }
    }

    .logo{
        height: 20vh;
        display: flex;
        img{
            margin: auto;
        }
    }

    ion-input, ion-select{
        --padding-start: 16px;
        border-radius: 6px !important;
        border: 1px solid #D6E2E7;
        height: 40px;
        margin-top: 16px;
        font-size: 14px;
    }

    ion-label{
      font-size: 14px;
    }

    ion-segment{
        height: 53px;
        margin-top: 50px;
        ion-segment-button{
            --background-checked: #21333B;
            --indicator-color: #21333B;
            --color-checked: #ffffff;
            --border-radius: 3px;
        }
    }

    .buttons{
      // height: 20%;
      margin: 2.5rem auto auto;
      ion-button{
          --color: #21333B;
          --color-activated: #ffffff;
          --background-activated: #21333B;

          font-size: 15px;
          text-transform: none;
      }
      ion-button:nth-child(1){
          --background: #4BD16F;
      }
  }

  
  ion-fab-button{
    --background: #4BD16F;
    --background-activated: #21333B;
    --box-shadow: 0 0 20px #8c8c8c;
  }
}