<ion-content fullscreen class="ion-padding">
  <div class="home-container">
    <h4>Export</h4>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <ion-list>
        <ion-radio-group value="month">
          <ion-item>
            <ion-label>Week</ion-label>
            <ion-radio slot="start" value="week"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Month</ion-label>
            <ion-radio slot="start" value="month"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Year</ion-label>
            <ion-radio slot="start" value="year"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <div class="buttons">
        <ion-button type="submit" expand="block" fill="solid">
          Export
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>