ion-content{
    .home-container{
        margin-top: 50px;
    }

    .amount{
        font-size: 20px;
        text-align: right;
    }
    .income{
        color: #4BD16F;
    }
    .expense{
        color: #dc143c;
    }

    ion-item{
        --padding-start: 16px;
        border-radius: 6px !important;
        border: 1px solid #D6E2E7;
        height: 40px;
        margin-top: 16px;
        font-size: 14px;
    }

    .buttons{
        // height: 20%;
        margin: 2.5rem auto auto;
        ion-button{
            --color: #21333B;
            --color-activated: #ffffff;
            --background-activated: #21333B;
  
            font-size: 15px;
            text-transform: none;
        }
        ion-button:nth-child(1){
            --background: #4BD16F;
        }
    }
}