<ion-content>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" [routerLink]="['/start']">
    </div>
  
    <form (ngSubmit)="onSignup(signupForm)" [formGroup]="signupForm">
      <ion-input  class="inputClass" id="first_name" 
          type="text" placeholder="First Name" formControlName="first_name" required>
      </ion-input>

      <ion-input  class="inputClass" id="last_name" 
          type="text" placeholder="Surname" formControlName="last_name" required>
      </ion-input>

      <ion-input  class="inputClass" id="phone" 
          type="text" placeholder="Phone Number" formControlName="phone" required>
      </ion-input>

      <div class="password_container">
        <div class="password_field">
          <ion-input  class="inputClass" id="password" 
          [type]="passwordType" placeholder="Password" formControlName="password" required>
          </ion-input>
        </div>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </div>

      <div class="password_container">
        <div class="password_field">
          <ion-input  class="inputClass" id="password" 
          [type]="passwordType" placeholder="Confirm Password" formControlName="password2" required>
          </ion-input> 
        </div>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </div>

      
      <div class="buttons">
        <ion-button type="submit" expand="block" fill="solid">
          Create my Account
        </ion-button>
        <div class="signpage-nav">Already have an account? <span [routerLink]="['/login']">Log In</span></div>
      </div>
    </form>

  </div>

</ion-content>
