ion-content{
    --background: #ffffff;
    --color: #000000;
    font-family: renner-normal;

    .logo{
        height: 20vh;
        display: flex;
        img{
            margin: auto;
        }
    }

    form{
        .password_container{
            display: flex;
            align-items: center;
        }
        .password_field{
            width: 90%;
            display: inline-block;
        }
        ion-input {
            --padding-start: 16px;
            border-radius: 6px !important;
            border: 1px solid #D6E2E7;
            height: 40px;
            margin-top: 16px;
            font-size: 14px;
        }

        ion-icon{
            padding: 0 20px;
            height: 40px;
            margin-top: 16px;
        }
    }

    .buttons{
        margin-top: 32px;

        ion-button{
            --color: #21333B;
            --background: #4BD16F;
            --color-activated: #ffffff;
            --background-activated: #21333B;

            text-transform: none;
            font-size: 15px;
        }
    }

    .signpage-nav{
        font-size: 12px;
        margin-top: 20px;

        span{
            color: #4BD16F;
        }
    }
}