ion-toolbar{
    --background: #ffffff;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    
    ion-menu-button{
      --color: #000000;
    }
}

.home-container{
    // width: 85vw;
    margin: 3.125rem auto auto;
    font-family: nunito-thin;

    h4{
        margin-left: 20px;
    }
}

.description{
    overflow: hidden;
}

.income{
    color: #4BD16F;
}
.expense{
    color: #dc143c;
}

.amount{
    display: flex;
    align-items: center;
    justify-content: left;
    // background:rgba(75,209,111,0.2);
    // font-size: 13px;
}

ion-segment{
    height: 53px;
    margin-top: 50px;
    ion-segment-button{
        --background-checked: #21333B;
        --indicator-color: #21333B;
        --color-checked: #ffffff;
        --border-radius: 3px;
    }
}

ion-list{
    ion-item{
      p{
        color: #aaaaaa;
      }
    }
}

ion-fab-button{
    --background: #4BD16F;
    --background-activated: #21333B;
    --box-shadow: 0 0 20px #8c8c8c;
}