<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="container">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="cashflow">
      <ion-segment-button value="income">
        <ion-label>Income</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="home-container" [ngSwitch]="cashflow">
    <h4>{{cashflow.toUpperCase()}}</h4>
    <ion-card *ngSwitchCase="'income'">
      <ion-list>

        <ion-item *ngFor="let transaction of income" detail>
          <ion-label (click)="detailComponent(transaction.id)" >
            <div class="row">
              <div class="description col-8">
                <h2>{{transaction?.description}}</h2>
                <p>{{transaction?.date}}</p>
              </div>
              <div class="amount income col-4" 
                [ngStyle]="{'color':(transaction?.cashflow_type=='Income')?'#4BD16F':'#dc143c'}">
                ₦ {{transaction?.price*transaction?.quantity}}
              </div>
            </div>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card>

    
    <ion-card *ngSwitchCase="'expenses'">
      <ion-list>

        <ion-item *ngFor="let transaction of expenses" detail>
          <ion-label (click)="detailComponent(transaction.id)" >
            <div class="row">
              <div class="description col-8">
                <h2>{{transaction.description}}</h2>
                <p>{{transaction.date}}</p>
              </div>
              <div class="amount income col-4" 
                [ngStyle]="{'color':(transaction.cashflow_type=='Income')?'#4BD16F':'#dc143c'}">
                ₦ {{transaction.price*transaction.quantity}}
              </div>
            </div>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card>
  </div>


  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cashflowInputModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
