
<div class="chart-container">
  <div class="chart" style="display: block;">
    <ion-card-header>
      <div class="card-title">Cashflow</div>
      <div class="chart-filter"></div>
    </ion-card-header>
    <canvas baseChart height="280px"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
