<ion-content>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" [routerLink]="['/start']">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
      <ion-input  class="inputClass" id="phone" 
        type="text" placeholder="Phone Number" formControlName="phone" required>
      </ion-input>

      <div class="password_container">
        <div class="password_field">
          <ion-input  class="inputClass" id="password" 
          [type]="passwordType" placeholder="Password" formControlName="password" required>
          </ion-input>
        </div>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </div>
        
      <!-- </ion-item> -->
      <div class="forgot">Forgot password?</div>
      
      <div class="buttons">
        <ion-button type="submit" expand="block" fill="solid">
          Log In
        </ion-button>
        <div class="signpage-nav">Don't have an account? <span [routerLink]="['/signup']">Sign Up</span></div>
      </div>
    </form>

  </div>

</ion-content>
