<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list id="menu">
          <ion-list-header>Menu</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item 
              (click)="export()" 
              routerDirection="root" 
              lines="none" 
              detail="false">
                <ion-icon slot="start" [ios]="'cloud-download-outline'" [md]="'cloud-download-sharp'"></ion-icon>
                <ion-label>Export</ion-label>
            </ion-item>
            <ion-item 
              (click)="logout()" 
              routerDirection="root" 
              lines="none" 
              detail="false">
                <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
                <ion-label>Logout</ion-label>
            </ion-item>
            <ion-item 
              (click)="exit()" 
              routerDirection="root" 
              lines="none" 
              detail="false">
                <ion-icon slot="start" [ios]="'power-outline'" [md]="'power-sharp'"></ion-icon>
                <ion-label>Exit</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
