ion-content{
    // height: 700rem;
    --background: #ffffff;
    --color: #000000;
    --overflow: scroll;

    h4{
        margin-top: 20px;
        font-weight: thin;
    }

    p{
        font-size: 13px;
        font-weight: bold;

        span{
            font-size: 10px;
        }
    }

    .logo{
        height: 20vh;
        display: flex;
        img{
            margin: auto;
        }
    }



    // ion-label{
    //     --color: #757575;
    //     color: #757575;
    //     font-size: 14px;
    //     margin: 0 0 8px;
    //     padding: 0 0 0 16px;
    // }


    .home-container{
        height: 600px;

        ion-label{
            --color: #757575;
            color: #757575;
            font-size: 14px;
            margin: 0 0 8px;
            padding: 0 0 0 16px;
        }
    }

    ion-input, ion-select{
        --padding-start: 16px;
        // border-radius: 6px !important;
        border-bottom: 1px solid #D6E2E7;
        height: 40px;
        // padding-left: 16px;
        font-size: 14px;
    }

    // input{
    //     padding-left: 16px;
    //     margin-right: -16px;
    // }

    .input-item{
        height: 40px;
        // margin: 40px auto auto auto;
        font-size: 14px;
    }

    .input-label {
        padding-left: 16px;
    }

    .input-price {
        padding-left: 45px;
    }

    #price{
        border: none;
        border-bottom: 1px solid #ced4da;
    }

    ion-segment{
        height: 53px;
        margin-top: 50px;
        ion-segment-button{
            --background-checked: #21333B;
            --indicator-color: #21333B;
            --color-checked: #ffffff;
            --border-radius: 3px;
        }
    }

    .buttons{
        margin-top: 32px;

        ion-button{
            --color: #21333B;
            --background: #4BD16F;
            --color-activated: #ffffff;
            --background-activated: #21333B;

            text-transform: none;
            font-size: 15px;
        }
    }
}