<ion-content fullscreen class="ion-padding" scroll="true">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="cashflowInput">
      <ion-segment-button value="income">
        <ion-label>Income</ion-label>
      </ion-segment-button>
      <ion-segment-button value="expenses">
        <ion-label>Expenses</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="home-container" [ngSwitch]="cashflowInput">
      <h4>{{cashflowInput.toUpperCase()}}</h4>
      <div *ngSwitchCase="'expenses'">
        <form (ngSubmit)="onExpense(expenseForm)" [formGroup]="expenseForm">
          <div class="md-form form-sm input-item">
            <input 
              mdbInput 
              type="text" 
              id="description" 
              class="form-control form-control-sm" 
              formControlName="description" required>
            <label for="description" class="input-label">Description</label>
          </div>

          <div class="mt-3">
            <ion-label position='floating' class="input-label">Date</ion-label>
            <ion-input  
              class="inputClass" 
              id="date" 
              type="date" 
              placeholder="date"
              formControlName="date" required>
            </ion-input>
          </div>

          <div class="mt-3">
            <ion-label position='floating' class="input-label">Type</ion-label>
            <ion-select placeholder="Expense type" id="expense_type" name="expense_type" formControlName="expense_type" interface="popover" (ionChange)="typeSelect($event)">
              <ion-select-option *ngFor="let expense_type of expenses_types" value={{expense_type.name}}>{{expense_type.name}}</ion-select-option>
            </ion-select>
          </div>
  
          <div class="mt-3">
            <ion-label position='floating' class="input-label">Category</ion-label>
            <ion-select placeholder="Expense category" id="expense_category" name="expense_category" formControlName="expense_category" interface="popover">
              <ion-select-option *ngFor="let expense_category of exp_cat" value={{expense_category.expense_category}}>{{expense_category.expense_category}}</ion-select-option>
            </ion-select>
          </div>

          <div class="input-group mb-3 input-item mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text">₦</span>
            </div>
            <input id="price" type="text" class="form-control" placeholder="Unit price" formControlName="price">
          </div>

          <div class="md-form form-sm input-item mt-4" *ngIf="selected_type=='Product'">
            <input 
              mdbInput 
              type="number" 
              id="quantity" 
              class="form-control form-control-sm" 
              formControlName="quantity" required>
            <label for="quantity" class="input-label">Quantity</label>
          </div>
        
          <div class="buttons">
            <ion-button type="submit" expand="block" fill="solid">
              Save
            </ion-button>
          </div>
        </form>
      </div>
  
<!-- Income -->
      <div *ngSwitchCase="'income'" >
        <form (ngSubmit)="onIncome(incomeForm)" [formGroup]="incomeForm">
            <div class="md-form form-sm input-item">
              <input 
                mdbInput 
                type="text" 
                id="description" 
                class="form-control form-control-sm" 
                formControlName="description" required>
              <label for="description" class="input-label">Description</label>
            </div>

            <div class="mt-3">
              <ion-label position='floating' class="input-label">Date</ion-label>
              <ion-input  
                class="inputClass" 
                id="date" 
                type="date" 
                placeholder="date"
                formControlName="date" required>
              </ion-input>
            </div>

            <div class="input-group mb-3 mt-4 input-item">
              <div class="input-group-prepend">
                <span class="input-group-text">₦</span>
              </div>
              <input id="price" type="text" class="form-control" placeholder="Unit price" formControlName="price">
            </div>
  
            <div class="md-form form-sm input-item mt-4">
              <input 
                mdbInput 
                type="number" 
                id="quantity" 
                class="form-control form-control-sm" 
                formControlName="quantity" required>
              <label for="quantity" class="input-label">Quantity</label>
            </div>

            <ion-label position='floating' class="input-label">Income Type</ion-label>
            <ion-select placeholder="Income Type" id="sales_type" name="sales_type" formControlName="sales_type" interface="popover">
              <ion-select-option *ngFor="let sales_type of sales_types" value={{sales_type.name}}>{{sales_type.name}}</ion-select-option>
            </ion-select> 
  
            <div class="buttons">
              <ion-button type="submit" expand="block" fill="solid">
                Save
              </ion-button>
            </div>
        </form>
      </div>
    </div>
  
</ion-content>
