<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  
  <div class="home-container container">
    <div class="business row justify-content-between">
      <div class="business-text col-6 ml-2">
        <p class="business-name">{{user?.first_name+" "+user?.last_name}}</p>
        <p class="url">{{business?.business_name}}</p>
        <p class="location">{{business?.business_state}}, {{business?.business_country}}</p>
      </div>
      <div class="business-logo col-4">
        <!-- <img src="assets/images/logo.png" alt="logo"> -->
      </div>
    </div>

    <ion-card>
    <div class="cashflow">
      <div></div>
      <div class="net">
        <div class="cashflow-tag">Net</div>
        <div class="cashflow-description">{{toCurrency((income-expenses)?(income-expenses):0)}}</div>
      </div>
      <span></span>
      <div class="income">
        <div class="cashflow-tag">Income</div>
        <div class="cashflow-description">{{toCurrency(income?income:0)}}</div>
      </div>
      <span></span>
      <div class="expense">
        <div class="cashflow-tag">Expenses</div>
        <div class="cashflow-description">{{toCurrency(expenses?expenses:0)}}</div>
      </div>
      <div></div>
    </div>
    </ion-card>

    <ion-card>
      <!-- <div class="chart-container">
        <div class="chart" style="display: block;">
          <ion-card-header>
            <div class="card-title">Cashflow</div>
            <div class="chart-filter"></div>
          </ion-card-header>
          <canvas baseChart width="300px" height="330px"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div> -->
      <app-chart *ngIf="income_list"
        [income_list]="income_list"
        [expenses_list]="expenses_list"
        [month_list]="month_list"
        ></app-chart>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-card-header>
          <div class="card-title">Recent Cashflow</div>
        </ion-card-header>

        <ion-item *ngFor="let transaction of cashflow" detail>
          <ion-label (click)="detailComponent(transaction.id)" >
            <div class="row">
              <div class="description col-8">
                <h2>{{transaction?.description}}</h2>
                <p>{{transaction?.date}}</p>
              </div>
              <div class="amount income col-4" 
                [ngStyle]="{'color':(transaction?.cashflow_type=='Income')?'#4BD16F':'#dc143c'}">
                ₦ {{transaction?.price*transaction?.quantity}}
              </div>
            </div>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card>
  </div>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="cashflowInputModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
