ion-toolbar{
  --background: #fbfbfb;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  
  ion-menu-button{
    --color: #000000;
  }
}
ion-content{
  --background: #fbfbfb;
    font-size: 0.8125rem;

  .home-container {
    // width: 85vw;
    margin: 1.125rem auto auto;

    .business{
      margin-bottom: 30px;
      p{
        margin: 0;
      }
      .business-text{
        font-family: nunito-thin;

        .business-name{
          font-size: 1.125rem;
          font-family: nunito-bold;
        }
      }
    }

    .chart-container{
      overflow: hidden;
      min-height: 396px;


      .chart{
        min-height: 396px;

        .chart-header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          margin: auto 15px;
        }
      }
    }

    .cashflow{
      display: flex;
      height: 5rem;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      border-radius: 3px;

      .cashflow-tag{
        color: #666666;
        font-size: 0.625rem;
      }

      .net, .income, .expense{
        font-size: 10px;
      }

      span{
        height: 3rem;
        border: 0.5px solid #eeeeee;
      }

      .cashflow-description{
        font-size: 16px;
      }
    }

    ion-card{
      width: 100%;
      margin: 0 auto 1.6rem;
    }

    .card-title{
      margin: auto auto 0;
    }

    .description{
      overflow: hidden;
    }

    .income{
      color: #4BD16F;
    }
    .expense{
      color: #dc143c;
    }

    .amount{
      display: flex;
      align-items: center;
      justify-content: left;
    }

    ion-list{
      font-family: nunito-thin;
      ion-item{
        p{
          color: #aaaaaa;
        }
      }
    }
  }
  
  ion-fab-button{
    --background: #4BD16F;
    --background-activated: #21333B;
    --box-shadow: 0 0 20px #8c8c8c;
  }
}