<ion-content>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" [routerLink]="['/']">
    </div>

    <p><ngb-progressbar type="success" [value]="30" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><span>Step 1 of 3</span></p>

    <p>Please enter your Business details to know more about you.</p>
  
    <form [formGroup]="stepOneForm" (ngSubmit)="stepOne(stepOneForm)">
      <ion-input  class="inputClass" id="business_name" 
        type="text" placeholder="Business Name" formControlName="business_name" required>
      </ion-input>

      <ion-textarea  class="inputClass" id="business_description" placeholder="Business Description" formControlName="business_description" required>
      </ion-textarea>

      <ion-select placeholder="Business Type"  name="business_type" interface="popover" formControlName="business_type" required>
        <ion-select-option 
          *ngFor="let business_type of business_types" 
          value={{business_type.business_type}}>{{business_type.business_type}}</ion-select-option>
      </ion-select>

      <ion-input  class="inputClass" id="website" 
          type="text" placeholder="Website URL" formControlName="website">
      </ion-input>
      
      <div class="buttons">
        <ion-button type=submit expand="block" fill="solid" [disabled]="stepOneForm.invalid">
          Next
        </ion-button>
      </div>
    </form>

  </div>

</ion-content>
