ion-content{
    // height: 20vh;
    --background: #ffffff;
    --color: #000000;
    --overflow: hidden;

    p{
        font-size: 13px;
        font-weight: bold;

        span{
            font-size: 10px;
        }
    }

    .logo{
        height: 20vh;
        display: flex;
        img{
            margin: auto;
        }
    }

    ion-input, ion-select{
        --padding-start: 16px;
        border-radius: 6px !important;
        border: 1px solid #D6E2E7;
        height: 40px;
        margin-top: 16px;
        font-size: 14px;
    }

    .tags{
        text-align: center;

        .clearStyle{
            background: none;
            color:#000000
        }

        .fillStyle{
            background:#333333;
            color:#ffffff
        }

        .tag-button{
            font-size: 14px;
            display: inline-block;
            border: 1px #999999 solid;
            border-radius: 30px;
            padding: 10px;
            margin: 5px;
        }
    }

    .buttons{
        // height: 20%;
        margin: 2.5rem auto auto;
        ion-button{
            --color: #21333B;
            --color-activated: #ffffff;
            --background-activated: #21333B;

            font-size: 15px;
            text-transform: none;
        }
        ion-button:nth-child(1){
            --background: #4BD16F;
        }
    }
}