<ion-content>

  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" [routerLink]="['/']">
    </div>

    <p><ngb-progressbar type="success" [value]="90" [striped]="true" [animated]="true"></ngb-progressbar></p>
    <p><span>Step 3 of 3</span></p>

    <p>Please select keywords which best describe where you want to get your business to accounting wise. You can select as many keywords as possible.</p>


    <div class="tags">
      <div class="tag-button" *ngFor="let tag of tags" (click)="selectTag(tag)" [ngClass]="selectedTag.includes(tag)?'fillStyle':'clearStyle'">
        {{tag}}
      </div>
      <div class="other-tag" *ngIf="selectedTag.includes('Others')"><input type="text" placeholder="others" required></div>
    </div>

    <div class="buttons">
      <ion-button expand="block" fill="solid" (click)="save()">
        Get Started
      </ion-button>
      <!-- <ion-button expand="block" fill="clear" (click)="toAddressModal()">
        Back
      </ion-button> -->
    </div>
  </div>

</ion-content>
