/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Import fonts
@font-face {
    font-family: renner-thin;
    src: url("assets/fonts/Renner/Renner*\ 200\ Thin.otf") format("opentype");
}

@font-face {
    font-family: renner-normal;
    src: url("assets/fonts/Renner/Renner*\ 400\ Book.otf") format("opentype");
}

@font-face {
    font-family: renner-bold;
    src: url("assets/fonts/Renner/Renner*\ 700\ Bold.otf") format("opentype");
}

@font-face {
    font-family: nunito-thin;
    src: url("assets/fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: nunito;
    src: url("assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
    font-family: nunito-bold;
    src: url("assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}

ion-content{
    font-family: nunito;
}
