<ion-content>
<!-- slides -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <div class="slider">
        <div class="benefits">
          Help <br>
          You track your <span>expenses</span>
        </div>
        <img src="assets/images/slider/1.png" alt="slider 1">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slider">
        <div class="benefits">
          Prepares<br>
          you for your <span>tax session</span>
        </div>
        <img src="assets/images/slider/2.png" alt="slider 1">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slider">
        <div class="benefits">
          <span>Business forecasting</span><br>
          becomes easier for you
        </div>
        <img src="assets/images/slider/3.png" alt="slider 1">
      </div>
    </ion-slide>
  </ion-slides>

  <div class="buttons">
    <ion-button expand="block" fill="solid" [routerLink]="['/signup']">
      Sign up
    </ion-button>
    <ion-button expand="block" fill="clear" [routerLink]="['/login']">
      Log in
    </ion-button>
  </div>
</ion-content>
