ion-content{
    height: 100vh;
    --background: #ffffff;
    --color: #000000;

    ion-slides {
        height: 70%;
        margin-top: 2rem;
        --color: #21333B;
    
        .slider{
    
            .benefits{
                margin-bottom: 3rem;
                text-align: center;
                font-family: renner-thin;
                font-size: 24px;
            
                span{
                    font-family: renner-bold;
                }
            }
        }
        --bullet-background-active: #21333B;
    }
    .buttons{
        // height: 20%;
        margin: 2.5rem auto auto;
        width: 90%;

        ion-button{
            --color: #21333B;
            --color-activated: #ffffff;
            --background-activated: #21333B;

            font-size: 15px;
            text-transform: none;
        }
        ion-button:nth-child(1){
            --background: #4BD16F;
        }
    }
}